# Database Configuration
MYSQL_HOST=mysql://root:bqdQuIqBNOucqiUzaCDShpYnYXBqqlhN@centerbeam.proxy.rlwy.net:42945/railway
MYSQL_USER=root                 # Railway default user
MYSQL_PASSWORD=bqdQuIqBNOucqiUzaCDShpYnYXBqqlhN  # Railway password
MYSQL_DATABASE=railway
MYSQL_PORT=42945                # Railway public port

# Server Configuration
PORT=5000                       # Backend port
